.Container-H {
    background-image: url("../../assets/bg.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    z-index: -100;
}

.child-paralel {
    width: 40px;
    height: 64px;
    background-color: #16061C;
    clip-path: polygon(25% 0%, 58% 0, 34% 100%, 0% 100%);
    margin-right: -20px;
}

.p-paralel {

    position: relative;
    top: 10%;
    right: 40%;
    width: 221px;
    height: 70px;
    display: flex;

}

.clip-2 {
    width: 595px;
    height: 433px;
    position: absolute;
    right: -20%;
    top: 40%;
    clip-path: polygon(98% 3%, 100% 97%, 56% 95%, 12% 75%, 0 33%);
    background-color: #F05941;
    rotate: 180deg;
    z-index: -10;
}

.clip-1 {
    width: 595px;
    height: 433px;
    position: absolute;
    left: -25%;
    top: 40%;
    clip-path: polygon(98% 3%, 100% 97%, 56% 95%, 12% 75%, 0 33%);
    background-color: #F9C1B8;
    z-index: -10;
}

.container-h {
    z-index: 6;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.child-H {

    margin: 20px 60px 20px 60px;
    height: 800px;


    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.section-pesan {
    z-index: 8;
    height: 600px;
    position: relative;
    bottom: 20px;
    right: 30%;
}

.clip-p1 {
    background-color: white;
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    display: flex;
    width: 200px;
    z-index: 6;
    height: 30px;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.20);
    align-items: center;
    color: #F05941;
    font-weight: 800;
    position: relative;
    left: -20px;
}

.clip-p2 {
    background-color: white;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
    border-top-right-radius: 14px;
    display: flex;
    width: 260px;
    height: 30px;
    z-index: 6;

    padding: 10px;
    color: #280F33;
    font-weight: 500;
    justify-content: center;
    box-shadow: 6px 6px 6px -7px rgba(0, 0, 0, 0.52);
    position: relative;
    align-items: center;

}

.container-h img {
    z-index: 10;
    width: 1250px;
    height: 600px;
}




.logo {
    width: 260px;
    height: 80px;
}

.clip-p1 h1 {
    font-size: 20px;
}


.clip-p2 h1 {
    font-size: 14px;
}

@media only screen and (min-width: 320px) {
    .logo {
        width: 100px;
        height: 50px;
    }

    .p-paralel {

        position: relative;
        top: 10%;
        left: -10%;
        width: 221px;
        height: 70px;
        display: flex;

    }

    .clip-2 {
        width: 225px;
        height: 220px;
        position: absolute;
        right: -50%;
        top: 20%;

    }

    .section-pesan {

        height: 600px;
        position: relative;
        bottom: 20px;
        right: 0%;
    }

    .clip-p1 {
        position: relative;
        width: 150px;

        height: 30px;

        left: -20px;
    }

    .clip-p2 h1 {
        font-size: 13px;
    }

    .clip-p1 h1 {
        font-size: 16px;
    }

    .clip-p2 {
        font-size: 16px;

        width: 180px;
        height: 30px;

        position: relative;


    }

    .child-H {
        margin: 10px 20px 10px 20px;
    }

    .clip-1 {
        width: 225px;
        height: 163px;
        position: absolute;
        left: -40%;
        top: 25%;

    }

    .container-h img {
        width: 250px;
        height: 200px;
    }

}

@media only screen and (min-width: 375px) {
    .logo {
        width: 140px;
        height: 50px;
    }

    .p-paralel {

        position: relative;
        top: 10%;
        left: -20%;
        width: 221px;
        height: 70px;
        display: flex;

    }

    .clip-2 {
        width: 230px;
        height: 225px;
        position: absolute;
        right: -56%;
        top: 20%;

    }

    .child-H {
        margin: 15px 25px;
    }

    .clip-1 {
        width: 245px;
        height: 183px;
        position: absolute;
        left: -40%;
        top: 30%;

    }

    .container-h img {
        width: 255px;
        height: 205px;
    }
}

@media only screen and (min-width: 425px) {
    .logo {
        width: 150px;
        height: 75px;
    }

    .p-paralel {

        position: relative;
        top: 10%;
        left: -25%;
        width: 221px;
        height: 70px;
        display: flex;

    }

    .clip-2 {
        width: 240px;
        height: 230px;
        position: absolute;
        right: -56%;
        top: 20%;

    }

    .clip-1 {
        width: 275px;
        height: 213px;
        position: absolute;
        left: -45%;
        top: 35%;

    }

    .child-H {
        margin: 20px 30px;
    }

    .container-h img {
        width: 270px;
        height: 215px;
    }
}

@media only screen and (min-width: 768px) {
    .logo {
        width: 200px;
        height: 120px;
    }

    .p-paralel {

        position: relative;
        top: 10%;
        left: -30%;
        width: 221px;
        height: 70px;
        display: flex;

    }

    .clip-2 {
        width: 340px;
        height: 330px;
        position: absolute;
        right: -40%;
        top: 30%;

    }

    .section-pesan {

        height: 600px;
        position: relative;
        bottom: 20px;
        right: 18%;
    }

    .clip-p1 {
        position: relative;
        width: 180px;

        height: 30px;

        left: -20px;
    }

    .clip-p2 h1 {
        font-size: 14px;
    }

    .clip-p1 h1 {
        font-size: 18px;
    }

    .clip-p2 {


        width: 200px;
        height: 30px;

        position: relative;


    }

    .clip-1 {
        width: 375px;
        height: 313px;
        position: absolute;
        left: -40%;
        top: 35%;

    }

    .child-H {
        margin: 20px 50px;
    }

    .container-h img {
        width: 520px;
        height: 415px;
    }
}

@media only screen and (min-width: 1024px) {
    .clip-2 {
        width: 595px;
        height: 433px;
        position: absolute;
        right: -20%;
        top: 40%;

    }

    .logo {
        width: 200px;
        height: 120px;
    }

    .section-pesan {

        height: 600px;
        position: relative;
        bottom: 20px;
        right: 20%;
    }

    .clip-p1 {
        position: relative;
        width: 280px;
        padding: 10px;
        height: 30px;
        display: flex;
        justify-content: left;
        left: -20px;
    }

    .clip-p2 h1 {
        font-size: 18px;
    }

    .clip-p1 h1 {
        text-align: start;
        font-size: 20px;
    }

    .clip-p2 {


        width: 300px;
        height: 50px;

        position: relative;


    }

    .clip-1 {
        width: 595px;
        height: 433px;
        position: absolute;
        left: -25%;
        top: 40%;

    }

    .child-H {
        margin: 20px 50px;
    }

    .container-h img {
        width: 1000px;
        height: 515px;
    }

    .p-paralel {

        position: relative;
        top: 10%;
        right: 40%;

    }
}