.container-tentang {
    margin: 26px 80px 26px 80px;
    max-width: 100%;

    overflow-x: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    z-index: 6;

}

.cd-paralel {
    width: 40px;
    height: 64px;
    background-color: #F05941;
    clip-path: polygon(25% 0%, 58% 0, 34% 100%, 0% 100%);
    margin-right: -20px;
}

.p-pr {
    z-index: 12;
    position: absolute;
    right: 0;
    bottom: 20%;
    width: 221px;
    height: 70px;
    display: flex;

}


.content-tr {
    width: 14px;
    height: 286px;
    display: flex;
    position: absolute;
    top: 15%;
    left: 10%;
    flex-direction: column;
}

.clip-tr1 {
    width: 14px;
    height: 34px;
    margin-bottom: 4px;
    background-color: #280F33;
}

.clip-tr2 {
    width: 14px;
    height: 110px;
    margin-bottom: 4px;
    background-color: #280F33;
}

.clip-t1 {
    width: 404px;
    background-color: #F05941;
    position: absolute;
    left: -4%;
    transform: rotate(20deg);
    top: 8%;
    clip-path: polygon(49% 0, 100% 0, 99% 100%, 0 100%, 0 46%);
    height: 268px;
}

.clip-t2 {
    width: 484px;
    background-color: #F9C1B8;
    position: absolute;
    left: 70%;
    top: 45%;
    transform: rotate(200deg);
    z-index: -20;
    clip-path: polygon(49% 0, 100% 0, 99% 100%, 0 100%, 0 46%);
    height: 368px;
}

.c-tentang {
    width: 50%;
    text-align: justify;
    justify-content: space-evenly;
    color: #280F33;
    font-size: 24px;
    font-weight: 400;
}

.c-tentang img {
    position: absolute;
    left: 15%;
    width: 350px;
    height: 400px;
    top: 20%;
    z-index: -21;
}

.c-head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.c-head img {

    width: 400px;
    height: 400px;
    z-index: -21;
}

.judul {
    font-size: 63;
    font-weight: bold;
    color: #F05941;
}

@media only screen and (max-width: 600px) {
    .container-tentang {
        margin: 16px 10px 16px 10px;


    }

    .cd-paralel {
        width: 28px;
        height: 48px;
        background-color: #F05941;
        clip-path: polygon(25% 0%, 58% 0, 34% 100%, 0% 100%);
        margin-right: -15px;
    }

    .p-pr {
        z-index: 12;
        position: absolute;
        right: -10%;
        bottom: 25%;
        width: 221px;
        height: 70px;

    }

    .content-tr {
        width: 6px;
        height: 146px;
        display: flex;
        position: absolute;
        top: 15%;
        left: 10%;
        flex-direction: column;
    }

    .clip-t1 {
        width: 204px;
        background-color: #F05941;
        position: absolute;
        left: -14%;
        transform: rotate(20deg);
        top: 8%;
        clip-path: polygon(49% 0, 100% 0, 99% 100%, 0 100%, 0 46%);
        height: 168px;
    }

    .clip-t2 {
        width: 204px;
        background-color: #F9C1B8;
        position: absolute;
        left: 60%;
        top: 55%;
        transform: rotate(200deg);
        z-index: -20;
        clip-path: polygon(49% 0, 100% 0, 99% 100%, 0 100%, 0 46%);
        height: 168px;
    }

    .c-head img {
        position: absolute;
        left: 60%;
        width: 200px;
        height: 200px;
    }

    .c-head img {
        position: absolute;
        left: 60%;
        width: 200px;
        height: 200px;
    }

    .c-tentang img {
        position: absolute;
        left: 0%;
        top: 55%;

        width: 180px;
        height: 230px;
    }

    .c-tentang {
        width: 70%;
        text-align: justify;
        justify-content: space-evenly;
        color: #280F33;

        font-size: 16px;
        font-weight: 400;
    }
}

@media only screen and (min-width: 600px) {
    .container-tentang {
        margin: 18px 30px 18px 30px;


    }

    .cd-paralel {
        width: 28px;
        height: 48px;
        background-color: #F05941;
        clip-path: polygon(25% 0%, 58% 0, 34% 100%, 0% 100%);
        margin-right: -15px;
    }

    .p-pr {
        z-index: 12;
        position: absolute;
        right: 0%;
        bottom: 15%;
        width: 221px;
        height: 70px;

    }

    .content-tr {
        width: 6px;
        height: 146px;
        display: flex;
        position: absolute;
        top: 15%;
        left: 10%;
        flex-direction: column;
    }

    .c-head img {
        position: absolute;
        left: 60%;
        width: 300px;
        height: 300px;
    }

    .c-tentang img {
        position: absolute;
        left: 20%;
        top: 55%;

        width: 180px;
        height: 230px;
    }

    .c-tentang {
        width: 70%;
        text-align: justify;
        justify-content: space-evenly;
        color: #280F33;

        font-size: 16px;
        font-weight: 400;
    }

    .clip-t1 {
        width: 194px;
        background-color: #F05941;
        position: absolute;
        left: -8%;
        transform: rotate(20deg);
        top: 8%;
        clip-path: polygon(49% 0, 100% 0, 99% 100%, 0 100%, 0 46%);
        height: 148px;
    }

    .clip-t2 {
        width: 194px;
        background-color: #F9C1B8;
        position: absolute;
        left: 60%;
        top: 55%;
        transform: rotate(200deg);
        z-index: -20;
        clip-path: polygon(49% 0, 100% 0, 99% 100%, 0 100%, 0 46%);
        height: 148px;
    }
}

@media only screen and (min-width: 768px) {
    .container-tentang {
        margin: 18px 30px 18px 30px;


    }

    .content-tr {
        width: 10px;
        height: 196px;
        display: flex;
        position: absolute;
        top: 15%;
        left: 10%;
        flex-direction: column;
    }

    .clip-t1 {
        width: 224px;
        background-color: #F05941;
        position: absolute;
        left: -4%;
        transform: rotate(20deg);
        top: 8%;
        clip-path: polygon(49% 0, 100% 0, 99% 100%, 0 100%, 0 46%);
        height: 220px;
    }

    .clip-t2 {
        width: 224px;
        background-color: #F9C1B8;
        position: absolute;
        left: 70%;
        top: 55%;
        transform: rotate(200deg);
        z-index: -20;
        clip-path: polygon(49% 0, 100% 0, 99% 100%, 0 100%, 0 46%);
        height: 200px;
    }

    .cd-paralel {
        width: 38px;
        height: 58px;
        background-color: #F05941;
        clip-path: polygon(25% 0%, 58% 0, 34% 100%, 0% 100%);
        margin-right: -15px;
    }

    .p-pr {
        z-index: 12;
        position: absolute;
        right: 0%;
        bottom: 20%;
        width: 221px;
        height: 70px;

    }

    .c-head img {
        position: absolute;
        left: 60%;
        width: 350px;
        height: 350px;
    }

    .c-tentang img {
        position: absolute;
        left: 10%;
        top: 40%;

        width: 200px;
        height: 250px;
    }

    .c-tentang {
        width: 60%;
        text-align: justify;
        justify-content: space-evenly;
        color: #280F33;

        font-size: 18px;
        font-weight: 400;
    }
}

@media only screen and (min-width: 992px) {
    .container-tentang {

        margin: 26px 80px 26px 80px;

    }

    .p-pr {
        z-index: 12;
        position: absolute;
        right: 12%;
        bottom: 15%;
        width: 221px;
        height: 70px;

    }

    .content-tr {
        width: 12px;
        height: 206px;
        display: flex;
        position: absolute;
        top: 15%;
        left: 10%;
        flex-direction: column;
    }

    .c-head img {
        position: absolute;
        left: 60%;
        width: 380px;
        height: 380px;
    }

    .c-tentang img {
        position: absolute;
        left: 15%;
        top: 45%;

        width: 210px;
        height: 260px;
    }

    .c-tentang {
        width: 60%;
        text-align: justify;
        justify-content: space-evenly;
        color: #280F33;

        font-size: 20px;
        font-weight: 400;
    }

    .clip-t1 {
        width: 264px;
        background-color: #F05941;
        position: absolute;
        left: -1%;
        transform: rotate(20deg);
        top: 8%;
        clip-path: polygon(49% 0, 100% 0, 99% 100%, 0 100%, 0 46%);
        height: 228px;
    }

    .clip-t2 {
        width: 264px;
        background-color: #F9C1B8;
        position: absolute;
        left: 60%;
        top: 55%;
        transform: rotate(200deg);
        z-index: -20;
        clip-path: polygon(49% 0, 100% 0, 99% 100%, 0 100%, 0 46%);
        height: 220px;
    }
}

@media only screen and (min-width: 1200px) {
    .container-tentang {

        margin: 26px 80px 26px 80px;

    }

    .clip-t1 {
        width: 204px;
        background-color: #F05941;
        position: absolute;
        left: -14%;
        transform: rotate(20deg);
        top: 8%;
        clip-path: polygon(49% 0, 100% 0, 99% 100%, 0 100%, 0 46%);
        height: 168px;
    }

    .c-head img {
        position: absolute;
        left: 64%;
        width: 400px;
        height: 400px;
    }

    .c-tentang img {
        position: absolute;
        left: 16%;
        top: 40%;

        width: 300px;
        height: 350px;
    }

    .c-tentang {
        width: 50%;
        text-align: justify;
        justify-content: space-evenly;
        color: #280F33;

        font-size: 24px;
        font-weight: 400;
    }

    .clip-t1 {
        width: 444px;
        background-color: #F05941;
        position: absolute;
        left: -2%;
        transform: rotate(20deg);
        top: 2%;
        clip-path: polygon(49% 0, 100% 0, 99% 100%, 0 100%, 0 46%);
        height: 288px;
    }

    .content-tr {
        width: 14px;
        height: 286px;
        display: flex;
        position: absolute;
        top: 15%;
        left: 10%;
        flex-direction: column;
    }

    .clip-t2 {
        width: 454px;
        background-color: #F9C1B8;
        position: absolute;
        left: 70%;
        top: 45%;
        transform: rotate(200deg);
        z-index: -20;
        clip-path: polygon(49% 0, 100% 0, 99% 100%, 0 100%, 0 46%);
        height: 338px;
    }
}